<?xml version="1.0"?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="logs.txt"/>
        <remove name="Default"/>
      </listeners>
    </trace>
  </system.diagnostics>
  <appSettings>
    <!--en-us,zh-cn-->
    <!--<add key="UI-CULTURE" value="zh-cn"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
